<div class="jumbotron">
  <h1>Pixie - The Automation Bot</h1>
  <p>Pixie is a an automation assistant that will follow you wherever you need it to be.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a></p>
</div>

<h2>Get Started</h2>
<p>
  To get started just login and setup the integrations
</p>

<hr />

<h3>Why Pixie</h3>

<p>
  Pixie is a different than most bots used for ChatOps since it is very flexible and extensible.
</p>
<ul>
  <li>Slack and GitHub listeners</li>
  <li>Docker actions - write your own action</li>
  <li>Directory of common actions - reuse actions built by other developers</li>
</ul>



